* {
  box-sizing: border-box;
}
body {
  background: #2E2E2E;
}
.navlink {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;  
  width: 20%;
}
.navlink:hover {
  background-color: rgba(255,255,255,0.2);
  color: #fff;

}
#logo {
  font-weight: 900;
}
.links {
  display: flex;
}

